{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}
    <h1 class="title is-3">A propos de Bucket-List !</h1>

    <div class="columns is-desktop">

        <div class="column ">
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. s dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum </p>
            </div>
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. s dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum </p>
            </div>
        </div>

        <div class="column">
            <p>Ad dolore dignissimos asperiores dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum vero expedita ex delectus voluptates rem at neque quos facere sequi unde optio aliquam!</p>
        </div>


    </div>


{% endblock %}